@model ActiveCampaign.Domain.Entities.Campaign

@{
    ViewBag.Title = "AddCampaign";
}

<h2>New Campaign</h2>

<div class="container">
    @using (Html.BeginForm("CreateCampaign", "AddCampaign"))
    {
        foreach (var property in ViewData.ModelMetadata.Properties)
        {
            if (property.PropertyName != "Id")
            {
                <div class="form-group">
                    <label>@(property.DisplayName ?? property.PropertyName)</label>
                    @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                    @Html.ValidationMessage(property.PropertyName)
                </div>
            }
        }
        <div class="form-group">
            <label>Visible to Public 1 = yes, 0 = no</label>
            @Html.TextBox("isPublic", "0", new { @class = "form-control"})
        </div>
        <div class="row">
            <div class="col-md-1 text-right">
                <button class="btn btn-primary">Save</button>
            </div>
            <div class="col-md-1">
                @Html.ActionLink("Cancel", "Cancel", null, new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>

