@using EyeSoft.Reflection
@model ActiveCampaign.Domain.Entities.Message

@{
    ViewBag.Title = "EditMessage";
    TempData.Add("Id", Model.Id);
}

<h2>Edit Message</h2>

@using (Html.BeginForm("EditMessage", "EditMessage", FormMethod.Post))
{
    <div class="container">
        @foreach (var property in ViewData.ModelMetadata.Properties)
        {
            if (property.PropertyName != "Id" && property.PropertyName != "Body")
            {
                <div class="form-group">
                    <label>@(property.DisplayName ?? property.PropertyName)</label>
                    @Html.TextBox(property.PropertyName, Model.GetPropertyValue(property.PropertyName), new { @class = "form-control" })
                    @Html.ValidationMessage(property.PropertyName)
                </div>
            }
            if (property.PropertyName == "Body")
            {
                <div class="form-group">
                    <label>@(property.DisplayName ?? property.PropertyName)</label>
                    @Html.TextArea(property.PropertyName, Model.GetPropertyValue(property.PropertyName).ToString(), new { @class = "form-control" })
                    @Html.ValidationMessage(property.PropertyName)
                </div>
            }
        }
        <div class="row">
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
            <div class="colmd-1">
                @Html.ActionLink("Cancel", "Cancel", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}